<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Lists</h1>

      <% if(currentUser) { %>
        <a href="/lists/new" class="btn btn-success">New List</a>
      <% } %>

      <ul class="list-group">

        <% lists.forEach((list) => { %>
          <% if(currentUser.id == list.userId) { %>
          <li class="list-group-item">
            <a href="/lists/<%= list.id %>"> <%- list.title %> </a>
          </li>
          <% } %>
        <% }) %>
      </ul> 


    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>