<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

     <% include ./partials/navbar.ejs %>

     <main class="container">

        <% include ../static/partials/messages.ejs %> 

        <div class="jumbotron bg-transparent" >
          <h2>Create a list, save some time.</h2>
          <p class="lead">Have you ever written a grocery list, but ended up leaving it at home?</p>
          <hr class="my-4">
          <p> Well, skip the pencil and paper, create your grocery list and go.</p>
          <% if(!currentUser) { %>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Let's get started!</a>
          </p>
          <% } %>
        </div>
  
     </main>

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>